# Turbo
.turbo
.DS_Store

# Frontend
frontend/node_modules
frontend/.next
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/node_modules
backend/.env
backend/venv

# Root
.venv

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# So folks don't assume npm
package-lock.json

# Sitemap will be generated at build
public/sitemap.xml
localazy.keys.json
cypress/videos
cypress/screenshots
cypress/downloads


# packages customs
packages/*/node_modules
packages/*/dist
packages/*/build
packages/tinybird/.venv
packages/tinybird/.tinyb

# Apps
apps/*/node_modules
apps/*/dist
apps/*/build
apps/.env
apps/web/.next
apps/.vercel

# go live reload temp folder
apps/redirect-server/tmp

# redirect-server logs
redirects.log